@import url('https://fonts.cdnfonts.com/css/minecraft-4');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    background-image: linear-gradient(to right top, #294c32, #153f34, #0c3131, #0e2328, #0e161a);
    font-family:  'Minecraft' ,   sans-serif , Arial, Helvetica, sans-serif;
    height: 100vh;
}

/* game container */
.game{
width: 1498px;
margin-left: 15%;
height: 900px; 
box-shadow: -9px -1px 32px 21px rgba(37, 62, 120, 0.75);

}

/* tools */

.tools{
    position: absolute;
    width: 200px;
    height: 600px;
    top: 30px;
    left: 30px;
    background-color: rgba(69, 25, 110 , .4);
    border-radius: 30px;
    box-shadow: -9px -1px 32px 21px rgba(137, 27, 93, 0.75);
}

#pick-axe ,
#axe ,
#shovel{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 30px;
    left: 50px;
    border: 3px solid blue;
  
}

#axe{
    top: 150px;
    left: 50px;
}

#shovel{
    top: 280px;
    left: 50px;
}


img{
    width: 100%;
}

#pick-axe:hover ,
#axe:hover ,
#shovel:hover {
    background-color: darkcyan;
    cursor: pointer;
}

.inventory{
    position: absolute;
    width: 44px;
    height: 50px;
    top: 420px;
    left: 70px;
    border: 2px solid black;
    cursor: pointer;

}

/* reset button */
.reset{
    position: absolute;
    top: 500px;
    left: 40px;
    width: 70px;
    border: none;
}
.reset button{
    padding: 5px 20px;
    padding-bottom: 12px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: bold;
    border-radius: 30%;
    background-color: brown;
    color: bisque;
    font-family:  'Minecraft';
}

.reset button:hover{
    background-color: red;
}

.current{
    background-color: darkgoldenrod;
}
.axe-cursor{
    cursor: url(/assets/axe-cursor.cur) , auto;
}
.pickaxe-cursor{
    cursor: url(/assets/pickaxe-cursor.cur) , auto;
}
.shovel-cursor{
    cursor: url(/assets/shovel-cursor.cur) , auto;
}